:root {
    --light-color: #FFF5E9;
    --dark-colour: #5C3F32; 
} 

  .coffee-card-grid {
    display: grid; 
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
    padding: 20px; 
    overflow-x: auto;
  }

.card {
  background-color: var(--light-color);
  border-radius: 10px;
  box-sizing: border-box;
  /* box-shadow: ; */
}

  .card-content {
    max-width: 100%;
    padding: 20px; 
    color: var(--dark-colour)
  }

  .image-container {
    width: 100%;
    height: 200px; 
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: auto;
  } 

  .icon-container {
    max-width: 100%;
  }

  @media (min-width: 1200px) {
    .coffee-card-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px; 
    }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    .coffee-card-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 5px; 
      padding: 5px;
      overflow-x: hidden;
    }
    .coffee-card {
      max-width: 100%;
    }

  }

  @media (min-width: 769px) and (max-width: 992px) {
    .coffee-card-grid {
      grid-template-columns: repeat(2, 1fr);
      padding: 20px;
      gap: 20px; 
    }
    .image-container {
      height: 150px;
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    .coffee-card-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 10px; 
    }

  }

  @media (min-width: 368px) and (max-width: 496px) {
    .coffee-card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .coffee-card-grid > .coffee-card {
      width: calc(100% - 40px); 
    }
  }