:root {
    --light-color: #FFF5E9;
    --dark-colour: #5C3F32; 
} 

  .coffee-card-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px; 
  }

  .card-content {
    color: var(--dark-colour)
  }

  .image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .image-container img {
    width: 100%;
    height: auto;
  } 

  @media (min-width: 1280px) {
    .coffee-card-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  