.toolbar {
    color:#210c02;
}
.logo {
    padding: 5px;
}
.header {
    color:#210c02;
    margin: 10px;
    padding:10px;
}
.navbar-button {
    color:#210c02;
    padding: 5px;
}
.navbar-icon {
    margin-right: 5px;
}

@media (min-width: 368px) and (max-width: 496px) {
    .toolbar {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .header {
        color:#210c02;
        margin: 10px;
        padding:10px;
    }
    .navbar-button {
        color:#210c02;
        padding: 5px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .navbar-icon {
        margin-right: 5px;
    }

    .MuiToolbar-root {
        display: flex;
        justify-content: flex-start;
      }

}



/*@media only screen and (max-width: 600px) {
    .body{
        display: flex;
    }

.toolbar {
    display: flex;
    font-size: small;
    
}
.logo {
    display:block;
}     
    .navbar-icon {
        display:none;
    }
    .navbar-button {
        display:block;
    }
}
  
  
